# Testing
coveralls==0.4.1
flake8==2.3.0
frosted==1.4.1
mock==1.0.1
nose==1.3.0
pep257==0.4.1
pinocchio==0.3.1
pyflakes==0.8.1
testtube==1.0.0
unittest2==0.5.1

# Functional requirements
requests>=1.0.0
# We need to use a version of Django less than 1.7 to test all versions of
# Python that are currently supported. If you'd like to test this with 1.7,
# just install it manually and you're good to go.
django >=1.4,<1.7
